#preview-container {
    display: flex;
    flex-direction: row;
}

.item {
    margin: 20px;
    padding: 5px;
    border: 1px solid black;
    flex: 1;
    max-width: 150px
}

.item img {
    width: 100%;
    height: 100%;
}

#form-input-files {
    position: relative;
    top:0;
    left: 0;  
    width: 100%;
    height: 100%;
   
}

#form-input-files input {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom:30px;
    right: 0;

}